{% extends "base.html" %} {% block title %}Delete Account{% endblock %} {% block
content %}
<form method="POST">
<h3 align="center">To delete your account, enter your password and hit the Delete Account button</h3>
<div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>

 <div>
  <button type="submit" class="btn btn-primary">Delete Account</button>
   </div>
</form>
  {% endblock %}