{% extends "base.html" %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}

{% block title %}
Cardstocks
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Welcome to Card Stocks!</h1>

      <p class="lead">This is the home page for Card Stocks marketplace.</p>

      <p>Select the title of the card you would like to see:</p>

      <ul>
          {% for s in styles %}
          <li><a href="{{ url_for( 'inventory', style=s.style ) }}">{{ s.style }}</a></li>
          {% endfor %}
      </ul>

	  <!-- links -->
	  <p>You can <a href="{{ url_for('add_record') }}">submit a new card</a>.</p>
	  <p>You can <a href="{{ url_for( 'select_record', letters='AF' ) }}">select a card for editing</a>.</p>

    </div>
  </div>
</div>

{% endblock %}
